<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#7fffd4"><center>
    <h1>Welcome to <%= title %></h1>
    <h3>Hello <%= name %> :)</h3>
  </center>
  </body>
</html>
